html {
	scroll-behavior: smooth;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: inherit;
	color: inherit;
}

.row {
	margin: 0 !important;
	padding: 0;
}

// nav {
// 	width: auto !important;
// 	margin: 0;
// 	padding: 0;
// }
